& when (@media-common=true) {
	.page-footer{
		background: #fff;
		padding-bottom: 0;
		.footer.content{
			max-width: 100%;
			padding: 0;
			background: #fff;
			//Footer Showroom
			.footer-showroom-container{
				overflow: auto;
				background: #fff;
				border-top: solid 1px #ddd;
				padding: 57px 0 39px 0;
				display: inline-block;
				width: 100%;
				.footer-showroom-content{
					width: auto;
					margin: 0 auto;
					.showroom{
						width: 33.333%;
						float: left;
						text-align: center;
					}
					.footer-showroom-left-img{
						display: none;
						p{
							margin: 40px 0 0 58px;
						}
					}
					.footer-showroom-center{
						width: 100%;
						.show-room-name{
							border: solid 2px #2d2d2f;
							padding: 7px 13px;
							font: 700 15px/20px @font-roboto-bold,sans-serif;
							color: #222;
							text-decoration: none;
							+p{
								margin-top: 18px;
								letter-spacing: 0.1px;
							}
						}
						p{
							font: 400 13px/20px @font-roboto-regular,sans-serif;
							color: #333;
							margin-bottom: 0;
							margin-top: 0;
							padding: 0 68px;
							a{
								color: #333;
								padding-right: 3px;
							}
						}
						.view-more{
							font: 400 13px/20px @font-roboto-regular,sans-serif;
							color: #111;
							text-decoration: underline;
							display: block;
							margin-top: 22px;
						}
					}
					.footer-showroom-right-img{
						display: none;
						p{
							margin: 41px 58px 0 0;
						}
					}
				}
			}
			//End footer Showroom

			//Footer Banner
			.footer-banner-container{
				max-width: 100%;
				margin: auto;
				.footer-banner-desktop{
					display: none;
					position: relative;
					.footer-banner-desktop_img{
						p{
							img{
								width: 100%;
								max-width: 100%;
							}
						}
					}
					.footer-banner-desktop_banner{
						position: absolute;
						top: 20%;
						left: 50%;
						color: #fff;
						transform: translateX(-50%);
						text-align: center;
						width: 100%;
						h2{
							font: 700 30px/35px @font-lora-bold,sans-serif;
							color: #fffefe;
							text-transform: none;
							margin: 25px 0 0 0;
						}
						p{
							font: 400 18px/26px @font-roboto-regular,sans-serif;
							color: #fff;
							margin-top: 10px;
							margin-bottom: 0;
							padding: 0px 22%;
							letter-spacing: 0.1px;
							a{
								font: 400 18px/26px @font-roboto-regular,sans-serif;
								color: #fff;
								text-decoration: underline;
							}
						}
					}
				}
				.footer-banner-mobile{
					display: block;
					position: relative;
					.footer-banner-mobile_img{
						p{
							img{
								width: 100%;
								max-width: 100%;
								height: auto;
							}
						}
					}
					.footer-banner-mobile_banner{
						position: absolute;
						top: 30%;
						left: 50%;
						color: #fff;
						transform: translateX(-50%);
						text-align: center;
						width: 100%;
						h2{
							font: 700 24px/30px @font-lora-bold,sans-serif;
							color: #fffefe;
							text-transform: none;
							padding: 0px 20px;
							font-size: 24px;
							line-height: 30px;
							margin: 20px 0 0 0;
						}
						a{
							font: 400 13px/20px @font-roboto-regular,Sans-serif;
							color: @color-white;
							text-decoration: underline;
							font-size: 13px;
							line-height: 20px;
							padding: 0 20px;
						}
					}
				}
			}
			//End footer Banner

			//Footer Top
			.footer-top-container{
				background: #f1f1f1;
				padding-top: 38px;
				padding-bottom: 30px;
				width: 100%;
				text-align: center;
				.footer-top-icons{
					ul{
						li{
							display: table;
							float: left;
							margin-right: 140px;
							a{
								display: flex;
								justify-content: center;
								align-items: center;
								img{
									margin-right: 10px;
								}
							}

						}
					}
				}
			}
		}
	}
}
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__xl) {
	.page-footer{
		.footer.content{
			//Footer Showroom
			.footer-showroom-container{
				.footer-showroom-content{
					width: 1240px;
					.footer-showroom-center {
						p{
							padding: 0 105px;
						}
					}	
				}
			}
			//End footer Showroom

			//Footer Banner
			.footer-banner-container{
				.footer-banner-desktop{
					.footer-banner-desktop_banner{
						p{
							padding: 0px 30%;
						}
					}
				}
			}
			//End footer Banner
		}
	}
}
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
	.page-footer{
		.footer.content{
			//Footer Banner
			.footer-banner-container{
				.footer-banner-desktop{
					.footer-banner-desktop_banner{
						h2{
							font-size: 38px;
							line-height: 50px;
						}
					}
				}
			}
			//End footer Banner
		}
	}
}
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
	.page-footer{
		margin-top: auto;
		.footer.content{
			//Footer Showroom
			.footer-showroom-container{
				.footer-showroom-content{
					.footer-showroom-left-img{
						display: block;
					}
					.footer-showroom-center {
						width: 33.333%;
						p{
							padding: 0 25px;
						}
					}
					.footer-showroom-right-img{
						display: block;
					}
				}
			}
			//End footer Showroom

			//Footer Banner
			.footer-banner-container{
				.footer-banner-desktop{
					display: block;
				}
				.footer-banner-mobile{
					display: none;
				}
			}
			//End footer Banner
		}
	}
}
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
	.page-footer{
		.footer.content{
			//Footer Showroom
			.footer-showroom-container{
				padding-bottom: 20px;
			}
		}
	}
}
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__xs) {
	div .page-footer{
		.footer.content{
			//Footer Banner
			.footer-banner-container{
				.footer-banner-mobile{
					.footer-banner-mobile_banner{
						top: 15%;
					}
				}
			}
			//End footer Banner
		}
	}
}
@media only screen and (max-width: 320px){
	div .page-footer{
		.footer.content{
			//Footer Banner
			.footer-banner-container{
				.footer-banner-mobile{
					.footer-banner-mobile_banner{
						top: 0;
					}
				}
			}
			//End footer Banner
		}
	}
}